
<p style="font-size:14px;font-weight: bold;color:#333"> Bonjour , <%= @invite.name  %></p>
<p style="font-size:12px;color:#333">
  Vous etes inscrits comme utilisateurs vip , nous vous en remercions.
</p>
<p style=" font-size:10px; color:#888; margin-bottom:10px;  margin-top:15px;">
<b>Easiloc</b>, souhaite fournir à tous les batiments et habitations du cameroun une adresse immaterielle afin de faciliter leurs localisations.
Retrouvez-nous sur: <a href="http://www.easiloc.com"> www.easiloc.com</a>
</p>
<div style="margin: 0;background-color: #56a0d2;padding: 0 20px 5px 10px;text-align:center;"><img width="100" src="https://lh3.googleusercontent.com/ODFHX3NC8aNRjxHcnfZnUDQWEEoOU1L_41fEqg1q37-gonyofgY6tOUjiaNplTkc5HimUQlI7oqosA=w1024-h657" /></div>
