<% content_for :prehead do %>
  Vous êtes maintenant un utilisateur vip de <b>easiloc.</b>
<% end %>


<div style="/*! background-color:#cb6464; *//*! margin:50px auto; *//*! border:1px solid #fff; *//*! padding: 50px; *//*! width: 80%; *//*! min-height: 250px; *//*! margin-left: 10%; *//*! margin-top: 50px; */">
<div style="text-align: justify;padding: 20px;font-size: 14px;color: #333;border: solid #e9e8e0 5px;">
<span style="font-size: 20px;margin-bottom: 10px;display: inline-block;color: #666;">
Bonjour <b><%=@invite.name %></b> !</span><br>
vous avez souhaité nous rejoindre dans cette exaltante aventure pour donner une adresse à nos maisons,
vous êtes parmi les tout premiers utilisateurs de <b>easiloc</b>, durant un mois vous aurez le privilège d'utiliser en vip, tous les services qu'offre la plateforme.<br>
<br><span style="color: #379add;font-size: 16px;font-weight: bold;">Ainsi vous pourriez:</span><br>
<br>Créer une adresse pour votre maison et la diffuser à vos connaissances,
<br>Béneficier des services de proximités,comme la livraison à domicile du Gaz,et aussi
<br>Retrouver des pharmacies et d'autres commerces pres de chez vous.<br><br>

<span> <b><span style="font-size: 24px"> 1000 Mercis !</span><br> Donnez une adresse à votre maison.  </b><br>
<span style="color: #f7e71c;font-weight: bold;">easiloc Team</span></span><b><b>
</b></b></div>


</div>
