<div class="iframe_ctn">
  <div class="iframe_title"> Bienvenue, sur easiloc</div>
  <div class="iframe_subtitle"> Vous avez 02 methodes simples et efficaces pour localiser un lieu,cette permet de determiner le point de votre lieu</div>

  <div class="col-xs-4">
    <div class="iframe_info">  Choissez votre option</div>
   <div class="iframe_creer_addresse" >
     <b>1. Creer une adresse numerique virtuelle</b>
      <p> plus precis et plus efficace </p>
      <a href=""  ng-click="create_app3_addresse()" class="btn-default btn btn-primary btn-xs"> Creer votre adresse</a>
   </div>
   <div class="iframe_creer_zone">
     <b>2. Creer une adresse numerique virtuelle</b>
      <p> plus discret mais aussi efficace, cette permet de determiner la zone de votre lieu </p>
      <a href=""  ng-click="create_app3_zone()" class="btn-default btn btn-primary btn-xs"> Creer votre zone</a>
   </div>
 </div>
 <div class="col-xs-8" style="background-color:#fff; padding :10px;">
    <div style="border:1px solid #eee" ng-include="create_app3_url"></div>
 </div>
   <div class="clear"></div>
</div>
