<div>
  <h2 class="user_title" style="text-align:center"> <div class="rounded"><i class="fa fa-cog"></i></div> Importez vos contacts dans votre compte</h2>
  <div class="user_container">

    <div class="container_information">
       <div class="col-xs-6">
       <span></span><br/>
       <a ng-click="inviteContacts()"> <i class="fa fa-google"></i>
         Impoter vos contacts Google
         <a>
       </div>
       <div class="col-xs-6">
         <span>Impoter vos contacts de Yahoo</span><br/>
           <i class="fa fa-yahoo"></i>
         </div>
       </div>

</div>
</div>
</div>
