<div>
  <h2 class="user_title" style="text-align:center"> <div class="rounded"><i class="fa fa-code"></i></div> Creer & gérer un compte pour vos applications</h2>
  <div class="user_container">
    <div class="container_information">
    <h2 class="title_annonce" style="text-align:center"> Enregistrer une application  </h2>
    <div class="row">
      <div class="col-xs-6">
  <div class="settings_annonce">
  Dans vos applications web, easiloca vous permet d'integrer deux boutons, creer une adresse ou selectionner une zones
  afin de mieux cartographier vos utilisateurs, et leurs offrir ddes services les mieux adaptés
  </div>
    </div>
    <div class="col-xs-6">
      <div class="slide-animate" ng-include="form_app()"></div>
    </div>
  </div>
</div>
</div>
