<div class="col-xs-3">

    <uib-accordion close-others="oneAtATime">
      <div class="users_options">
      <div uib-accordion-group class="panel-default">
         <div uib-accordion-heading>
           <div href="#/users/settings" > Mon profil</div>
         </div>
           <div ui-accordion-content >
               <div class="" ng-click = "users_settings()">Modifier</div>
           </div>
      </div>
      <div uib-accordion-group class="panel-default" >
         <div uib-accordion-heading>
          <div href="#/users/settings" ng-click = "users_contact()">Contacts</div>
        </div>
        <div ui-accordion-content >
            <div class="" ng-clik ="list_contacts()"> Lister vos contacts</div>
            <div class="" ng-click = "add_contact()"><i class="fa fa-plus"></i> Ajouter un contact</div>
            <div class="" ng-click = "import_contacts()"><i class="fa fa-plus"></i> Importer les contacts</div>
        </div>
      </div>
      <div uib-accordion-group class="panel-default">
         <div uib-accordion-heading>
          <div href="#/users/settings" ng-click = "user_application()"> Mes applications</div>
        </div>
        <div ui-accordion-content >
            <div class="" ><a ng-click="create_appli()"> creer une app</a></div>
        </div>
         <div ui-accordion-content ng-repeat="app in applications track by $index">
             <div class="" ng-click = "show_app($index)">{{app.name}}</div>
         </div>
      </div>
    </div>
    </ui-accordion>
</div>
<div class=" col-xs-9 amis-import">

<div class="slide-animate" ng-include="active_page_url"></div>

</div>
