
<div class="info_notify">

     <div class="modal-header">
                <div class="row">
                <div class="col-xs-12">
                <div class="" style="text-align:center"><a href="#" style="float:right" ng-click="close_favourite_route_info()" class=""><i class="fa fa-close"></i></a></div>
                </div>
                <div class="clear"></div>
                </div>
      </div>
      <div class="modal-body" style="padding:0">
         <p>
           <span> vous avez enregistré : {{actuel_favourite_route.id}} </span>
         </p>
      </div>
     </div>
