<div class="item_localisation">

     <div class="modal-header">
                <div class="row">
                <div class="col-xs-10">

                     <div class=""> <span class="modal-titre">Info souscription</div>
                </div>
                <div class="col-xs-2 modal-btn-right">
                   <!--<a class="modal-btn" ng-click="reduire()"> - </a> -->
                    <!--<a class="modal-btn" ng-click="elargir()"> + </a> -->
                   <a class="modal-btn" ng-click="fermer()"> x </a>
                </div>
                </div>
             </div>
             <div class="modal-body">

               <div class="row">

                              <div class="col-xs-12">
                                <span class="info-subscription info"> {{message}}.</span>
                              </div>
                              <div class="col-xs-12" style="margin-top:20px">
                                <div class="invite_amis">
                              Faites le connaitre à vos amis :
                              <div class="icon_share">
                                <span class="share_facebook"><a href="media_share('facebook')"><i class="fa fa-facebook"></a></i></span>
                                <span class="share_twitter"><a href="media_share('twitter')"><i class="fa fa-twitter"></a></i></span>
                                <span class="share_email"><a href="media_share('email')"><i class="fa fa-enveloppe-o"></a></i></span>
                                <span class="share_wa"><a href="media_share('whatsapp')"><i class="fa fa-whatsapp"></a></i></span>
                              </div>
                              </div>
                   </div>
          </div>
    </div>
</div>
