<form class="form-inline" style="width:365px">
     <div class="form-group">

         <input type="text" ng-model="invite.name" class="form-control" style="border-radius: 20px 0px 0px 20px;border-color: #fff;width: 130px;" placeholder="Nom">
    </div>
    <div class="form-group">
       <input type="email" ng-model="invite.email" class="form-control" style="margin-left: -5px;border-radius: 0px;border-color: #fff;border-left-color: #bbb;" placeholder="Email">
  </div>
  <button type="submit" ng-click="register()" style="margin-left: -5px;border-radius:0 50% 50% 0;background-color: #56a0d2;color: #f7e71c;border-color: #fff;" class="btn btn-default change_btn_style"><i class="fa fa-check"></i></button>
</form>
