<div class="item_localisation">

     <div class="modal-header">
                <div class="row">
                <div class="col-xs-10">

                     <div class="" style="text-align:center"> <span class="modal-titre">status souscription ....</span></div>
                </div>
                <div class="col-xs-2 modal-btn-right">
                   <!--<a class="modal-btn" ng-click="reduire()"> - </a> -->
                    <!--<a class="modal-btn" ng-click="elargir()"> + </a> -->
                   
                </div>
                </div>
             </div>
             <div class="modal-body">
                <ealo-round-progress></ealo-round-progress>

             </div>
</div>
