<div class="item_localisation">

     <div class="modal-header">
                <div class="row">
                <div class="col-xs-10">

                     <div class=""> <span class="modal-titre">Info souscription</div>
                </div>
                <div class="col-xs-2 modal-btn-right">
                   <!--<a class="modal-btn" ng-click="reduire()"> - </a> -->
                    <!--<a class="modal-btn" ng-click="elargir()"> + </a> -->
                   <a class="modal-btn" ng-click="fermer()"> x </a>
                </div>
                </div>
             </div>
             <div class="modal-body">

               <div class="row">

                              <div class="col-xs-12">
                                <div class=""></div>
                                <span class="info-subscription info"> <b>{{message.title}}</b><br>{{message.message}}.</span>

                                <div class="icon_inform" > <i class="fa fa-handshake-o"></i></div>
                              </div>
                              <div class="col-xs-12" style="margin-top:20px">
                                <div class="invite_amis">
                                <div class="icon_share">
                                Faites le connaitre à vos amis :
                                <span class="share_facebook">
                                  <a href="#" socialshare=""
                                  socialshare-provider="facebook"
                                  socialshare-via="1096051820539877"
                                  socialshare-quote="Rejoignez nous, donnez une adresse à votre maisson"
                                  socialshare-hashtags="adresse, cameroun, batiment"
                                  socialshare-url="http://www.easiloc.com">
                                    <i class="fa fa-facebook"></a></i></span>
                                <span class="share_twitter">
                                  <a href="#" socialshare=""
                                  socialshare-provider="twitter"
                                  socialshare-text="Rejoignez nous, donnez une adresse à votre maisson"
                                  socialshare-hashtags="adresse, cameroun, batiment"
                                  socialshare-url="http://www.easiloc.com"><i class="fa fa-twitter">

                                  </a></i></span>

                              </div>
                              </div>
                   </div>
          </div>
    </div>
</div>
