<div class="form-group">
  <label for="titre">AppName</label>
    <input type="text" class="form-control" ng-model = "active_app.name" placeholder="Nom de l'appi ">
  </div>
  <label for="logo"> Logo</label>
  <div class="container_avatar_logo">
   <div class="circle_avatar"><span><i class="fa fa-user-o"></i></span><div class="load_avatar"><i class="fa fa-cloud-download"></i><input type="file" ng-model="app.logo" id="user_circle_image" name="user_circle_image"></div></div>
      </div>
  <div class="form-group">
<label for="titre">IDname adresse </label>
  <input type="email" class="form-control" ng-model = "active_app.addresse_name" placeholder="easiloc_adresse">
</div>
<p class="help-block"> Donner un nom correspondant a element ....</p>
<div class="form-group">
<label for="titre">IDname zone</label>
<input type="text" class="form-control" ng-model = "active_app.zone_name" placeholder="easiloc_zone">
</div>

<div class="">
  <a href="" class="btn btn-default btn-xs btn-primary">valider</a>
</div>
